@* @{
    ViewData["Title"] = "Simple Interest";
}

<div class="text-center">
    <h4 class="display-4">Simple Interest Calculator</h4>
</div>
<div>
    <form asp-controller="Calc" asp-action="Index" method="post">
		<div>
			<label>Amount</label>
			<input type="text" placeholder="Enter Amount" name="amount" />
			<span class="text-danger"></span>
		</div>
        <div>
			<label>Interest Rate</label>
			<input type="text" placeholder="Enter Interest rate" name="interestRate" />
			<span class="text-danger"></span>
		</div>
        <div>
			<label>Number of Years</label>
			<input type="number" placeholder="Number of years" name="numberOfYears" />
			<span class="text-danger"></span>
		</div>
        <button type="submit">Calculate</button>
    </form>
	
@{
    if (ViewBag.Result != null)
    {
        <div>
            <p>@ViewBag.Result</p>
        </div>
    }
}
</div>

  <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/styles.css">
    </head> *@
    @* <body> *@
    <!-- The sidebar -->


    @{
    ViewData["Title"] = "Simple Interest";
            float intRate =  ViewBag.amount = intRate;
            double amountOfMoney= ViewBag.amountOfMoney;
            double interestRates = ViewBag.interestRates;
            double interest = ViewBag.interest;
            double interest = ViewBag.Result;

    }
    @{
          <div class="sidebar">
            <h1 class="text-white font-weight-bold mb-4" id="logo">piggyvest</h1>
            <a href="" class="font-weight-bold">Home</a>
            <a href="" class="font-weight-bold">Savings</a>
            <a href="" class="active font-weight-bold">Invest</a>
            <a href="" class="font-weight-bold">Account</a>
            <a href="" class="font-weight-bold" id="logout">Logout</a>
        </div>
      <!-- main content -->
        <div class="content">
            <h2 class="font-weigth-bold">Investify</h2>
            
            <!-- account -->
            <div class="row mt-5">
                <div class="col-md-8 mb-3">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-uppercase title font-weight-bold">Total Balance</h5>
                          <p class="card-text font-weight-bold" id="figure">&#8358; 0.00</p>
                        </div>
                        <div class="card-footer bg-white text-center text-capitalize">
                          <i class="fa fa-search-plus" aria-hidden="true"></i> learn more
                        </div>
                      </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card mb-5">
                        <div class="card-body">
                          <h5 class="card-title text-uppercase title font-weight-bold">expected roi</h5>
                          <p class="card-text my-0 py-0" id="per">up to 25% </p>
                          <p class="card-text my-0 py-0 text-capitalize" >per annum </p>
                        </div>
                      </div>

                      <h5 class="card-title text-uppercase title font-weight-bold" id="invt">investify</h5>
                      <div class="card">
                        <img src="~/img/fin.jpg" class="card-img-top" alt="invest picture" style="height: 130px;">
                      </div>
                </div>
            </div>

            <!-- invest content -->
            <div class="row move-up">
               <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                  <a class="nav-link text-info" href="#">My Investments</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link active" href="#">Explore</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-info" href="#" tabindex="-1" aria-disabled="true">Completed</a>
                                </li>
                              </ul>                        
                        </div>
                        <!-- end of internal nav -->
                        <div class="card-body">
                            <div class="card mb-3 stock" >
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="~/img/maize.jpg" class="card-img" alt="maize">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold">Maize Crop Investment</h5>
                                        <p class="card-text py-0 my-0"><small class="text-success">24% </small><small class="text-muted">returns in 12 months</small></p>
                                        <p class="card-text"><small class="text-info font-weight-bold"> #5,000 </small><small class="text-muted">per farm share</small></p>
                                        <button class="btn text-danger state"><small class="font-weight-bold">sold out</small></button>
                                        <a href="#" data-toggle="tooltip" title="calculate your future returns!"><i class="fa fa-calculator fa-2x" aria-hidden="true" id="calc"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                 <hr>
                              <div class="card mb-3 stock" >
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="~/img/rice.jpg" class="card-img" alt="rice">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Rice farm Investment</h5>
                                      <p class="card-text py-0 my-0"><small class="text-success">14% </small><small class="text-muted">returns in 7 months</small></p>
                                      <p class="card-text"><small class="text-info font-weight-bold"> #5,000 </small><small class="text-muted">per farm share</small></p>
                                      <button class="btn text-danger state"><small class="font-weight-bold">sold out</small></button>
                                      <a href="#" data-toggle="tooltip" title="calculate your future returns!"><i class="fa fa-calculator fa-2x" aria-hidden="true" id="calc"></i></a>
                                     <input type="number" placeholder="First number" asp-for="FirstNumber">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div class="card mb-3 stock" >
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="~/img/hen.jpg" class="card-img" alt="poultry birds">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Poultry Farm in South West Nigeria</h5>
                                      <p class="card-text py-0 my-0"><small class="text-success">12% </small><small class="text-muted">returns in 6 months</small></p>
                                      <p class="card-text"><small class="text-info font-weight-bold"> #5,000 </small><small class="text-muted">per unit</small></p>
                                      <button class="btn text-danger state"><small class="font-weight-bold">sold out</small></button>
                                      <a href="#" data-toggle="tooltip" title="calculate your future returns!"><i class="fa fa-calculator fa-2x" aria-hidden="true" id="calc"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div class="card mb-3 stock" >
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="~/img/cattle.jpg" class="card-img" alt="cattle farm">
                                  </div>
                                  <div class="text-center">
      <h4 class="display-4">Simple Interest Calculator</h4>
      </div>
      <div>
       <form asp-controller="Calc" asp-action="Index" method="post">
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Cattle Herder Stock Program Investment</h5>
                                      <p class="card-text py-0 my-0"><small class="text-success">12% </small><small class="text-muted">returns in 6 months</small></p>
                                      <p class="card-text"><small class="text-info font-weight-bold"> #5,000 </small><small class="text-muted">per unit</small></p>
                                      <button class="btn text-danger state"><small class="font-weight-bold">sold out</small></button>
                                      <a href="" data-toggle="tooltip" title="calculate your future returns!"><i class="fa fa-calculator fa-2x" aria-hidden="true" id="calc"></i></a>
                                    </div>
                                  </div>
                                  </form>
                                </div>
                              </div>
                        </div>
                    </div>
               </div>
            </div>

        </div> 


      @{
          if (ViewBag.Result != null)
          {
              <div>
                  <p>@ViewBag.Result</p>
              </div>
          }
        }
    }