@* @{
    ViewData["Title"] = "Simple Interest";
}

<div class="text-center">
    <h4 class="display-4">Simple Interest Calculator</h4>
</div>
<div>
    <form asp-controller="Calc" asp-action="Index" method="post">
		<div>
			<label>Amount</label>
			<input type="text" placeholder="Enter Amount" name="amount" />
			<span class="text-danger"></span>
		</div>
        <div>
			<label>Interest Rate</label>
			<input type="text" placeholder="Enter Interest rate" name="interestRate" />
			<span class="text-danger"></span>
		</div>
        <div>
			<label>Number of Years</label>
			<input type="number" placeholder="Number of years" name="numberOfYears" />
			<span class="text-danger"></span>
		</div>
        <button type="submit">Calculate</button>
    </form>
	
@{
    if (ViewBag.Result != null)
    {
        <div>
            <p>@ViewBag.Result</p>
        </div>
    }
}
</div>

 *@
@{
    ViewData["Title"] = "Simple Interest";
}
@* <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/styles.css">
    </head> *@
    @* <body> *@
    <!-- The sidebar -->
 
@{
    if (ViewBag.Result != null)
    {
        <div>
            <p>@ViewBag.Result</p>
        </div>
    }
}